.formStyle {
    outline: none;
    border: 2px solid #000;
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.formStyle:focus {

    box-shadow: 3px 4px 0px 1px #000;
}

.formArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 30px 35px 2px #52206b;
}
